<!-- templates/base.html -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Ensure responsiveness on mobile -->
    <title>FATMUG</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">
        <h1>FATMUG</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'video' %}">Videos</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                
            </ul>
        </nav>
    </div>

    <hr>

    
        {% block content %}
            <div class="container">
            </div>
        {% endblock %}
    

 

    <footer>
        <p>&copy; 2024 FATMUG. All Rights Reserved.</p>
    </footer>
</body>
</html>
