<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<center><h1>Contact Us</h1> </center>
<u><h2>Get in Touch </h2></u>
<p>We’re eager to connect! Drop us a line for collaborations, inquiries, or just to say hello. Let’s explore possibilities together. Reach out now and let’s start a conversation!</p>
   


<u><h2>The Office</h2></u>
<p><b>Address:</b>C - 269 , Bawana Industrial Area, New Delhi -110039 , India</p>
<p><b>Phone:</b>+919540622180</p>
<p><b>Email:</b>info@fatmug.in</p>

<u><h2>Business Hours</h2></u>

<p>Monday - Saturday 10 am to 7 pm</p>
    <p>Saturday - 9am to 2pm</p>
        <p>Sunday - Closed</p>



{% endblock %}
